{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center mt-4">
  Welcome
 {{ (app.user.lastname)}} 
 {{ (app.user.firstname)}}
</h1>
<div class="container">
{{ form_start(form) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control mb-4 mt-4', 'placeholder': 'E-mail'} }) }}
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control mb-4', 'placeholder': 'E-mail'} }) }}
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control mb-4', 'placeholder': 'E-mail'} }) }}
        {{ form_label(form.address) }}
        {{ form_widget(form.address, {'attr': {'class': 'form-control mb-4', 'placeholder': 'E-mail'} }) }}
        {{ form_label(form.zipcode) }}
        {{ form_widget(form.zipcode, {'attr': {'class': 'form-control mb-4', 'placeholder': 'E-mail'} }) }}
        {{ form_label(form.city) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control mb-4', 'placeholder': 'E-mail'} }) }}
        {{ form_rest(form) }}
        <button type="submit" class="mb-4 btn btn-pink">Enregistrer</button>
    {{ form_end(form) }}</div></div>
{% endblock %}
