{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="d-flex justify-content-center">Panier</h1>
                 <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            {# <th>Quantité</th> #}
                            <th>Options</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.product.name }}</td>
                                <td>{{ element.product.price / 100 }} €</td>
                                <td>
                                    <ul>
                                        {% for item in element.options %}
                                            {% if item %}
                                                <li> {{ item }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    
                                
                                </td>
                                {# <td>{{ element.quantity }}</td> #}
                                <td>{{ element.product.price / 100 }} €</td>
                                <td>
                                    {# <a href="{{ path('cart_add', {id: element.uniqueId}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('cart_remove', {id: element.uniqueId}) }}" class="btn btn-warning">-</a> #}
                                    <a href="{{ path('cart_delete', {id: element.uniqueId}) }}" class="btn btn-pink">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total / 100 }} €</td>
                            <td>
                                <a href="{{ path('cart_empty') }}" class="btn btn-pink">Vider</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <a href="{{ path('app_orders_add') }}" class="d-flex justify-content-center btn btn-pink" >Valider le panier</a>
               
<br>
            </div>
            
        </section> 
    </main>
{% endblock %}