{% extends "base.html.twig" %}

{% block title %}Détails de
    {{ product.name }}
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="d-flex justify-content-center mt-4">{{ product.name }}</h1>
            </div>
            <div class="col-6 mt-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 1..product.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in product.images %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}" data-bs-interval="4000">
                                <img src="{{ asset('assets/uploads/products/') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-6 mt-4">
                <p>{{ product.description }}</p>
                <p>Catégorie : {{ product.categories.name }}</p>
                <p>Prix : {{ product.price / 100 }} €</p>
            <form action="{{ path('cart_add', {id: product.id}) }}" method="POST">
                <label class="label mb-3" for="colorSelect">Choisir la couleur :</label><br>
                <select id="colorSelect" name="color"class="mb-4">
                    <option value="red">Rouge</option>
                    <option value="blue">Bleu</option>
                    <option value="green">Vert</option>
                    <option value="red">Blanc</option>
                    <option value="blue">Noir</option>
                    <option value="green">Rose</option>
                    <option value="red">Beige</option>
                    <option value="blue">Violet</option>
                    <option value="green">Gris</option>
                </select>
              <br>
                <div class="col-lg-6 mt-4">
                {% if product.categories.id == 44 %}
                    <label class="label mb-3" for="sizeSelect">Choisir la taille :</label><br>
                    <select id="sizeSelect" name="size" class="form-select mb-4">
                        <option value="Rectangle 30*19">Rectangle avec poignéees 30*19</option>
                        <option value="Rectangle 38*23">Rectangle avec poignéees 38*23</option>
                        <option value="Set 2 plateau">Set 2 plateau personalisé Rond , Rectangle </option>
                        <option value="Set un plateau+2 sous tasse">Set un plateau personalisé + 2 sous tasse</option>
                        <option value="Rond">Rond en cristal 33 cm</option>
                    </select>
                {% endif %}

                {% if product.categories.id == 43 %}
                <label class="label mb-4" for="letterSelect">Choisir une lettre :</label><br>
                <select id="letterSelect" name="letter" class="mb-4">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="A">D</option>
                    <option value="B">E</option>
                    <option value="C">F</option>
                    <option value="A">G</option>
                    <option value="B">H</option>
                    <option value="C">I</option>
                    <option value="A">J</option>
                    <option value="B">K</option>
                    <option value="C">L</option>
                    <option value="A">M</option>
                    <option value="B">N</option>
                    <option value="C">O</option>
                    <option value="A">P</option>
                    <option value="B">Q</option>
                    <option value="C">R</option>
                    <option value="A">S</option>
                    <option value="B">T</option>
                    <option value="C">U</option>
                    <option value="A">V</option>
                    <option value="B">W</option>
                    <option value="C">X</option>
                    <option value="A">Y</option>
                    <option value="B">Z</option>
                    <!-- Ajoutez plus d'options de lettre ici -->
                     <!-- Champ pour ajouter un texte personnalisé -->
               
                </select>
                {% endif %}
                 {% if product.categories.id == 47 %}
                    <label class="label mb-3" for="sizeSelect">Choisir la quantité :</label><br>
                    <select id="quantitéSelect" name="quantité" class="mb-4">
                        <option value="50">50 g</option>
                        <option value="100">100 g</option>
                    </select>
                    {% endif %}
                     {% if product.categories.id == 46 %}
                    <label class="label mb-3" for="sizeSelect">Choisir la quantité :</label><br>
                    <select id="quantitéSelect" name="quantité" class="mb-4">
                        <option value="50">50 g</option>
                        <option value="100">100 g</option>
                    </select>
                    {% endif %}
                     {% if product.categories.id == 48 %}
                    <label class="label mb-3" for="sizeSelect">Choisir la quantité :</label><br>
                    <select id="quantitéSelect" name="quantité" class="mb-4">
                        <option value="50">50 g</option>
                        <option value="100">100 g</option>
                    </select>
                    {% endif %}

                <br>   
                <!-- Champ pour ajouter un texte personnalisé -->
                <label class="label mb-3" for="customText">Ajouter un texte personnalisé :</label><br>
                <input type="text" id="customText" name="customText" class="form-control mb-4" placeholder="Entrez votre texte ici">
                 <br>


                    


                {% if product.stock > 0 %}
                <!-- Bouton "ajouter au panier" si le produit est en stock-->
                
                    <button type="submit" class="btn btn-pink mt-4">Ajouter au panier</button>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </form>
            </div>
        </section>
    </main>
{% endblock %}