{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="d-flex justify-content-center mt-4">Liste des produits de la catégorie {{ category.name }}</h1>
                
            </div>
            {% if products %}
                <div class="row d-flex justify-content-center">
                    {% for product in products.data %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mt-4">
                            <article class="card h-100">
                                <img src="{{ asset('assets/uploads/products/' ~ product.images[0].name ) }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h2 class="card-title">{{ product.name }}</h2>
                                
                                    <p class="card-text">{{ product.description|raw}}</p>
                                    <a href="{{ path('products_details', {"slug": product.slug }) }}" class="btn btn-pink">Voir les détails</a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
                {% set path = 'categories_list' %}
                {% set slug = category.slug %}
                {% set pages = products.pages %}
                {% set currentPage = products.page %}
                {% include "_partials/_pagination.html.twig" %}
            {% endif %}
            {% if subcategories %}
                <div class="row d-flex justify-content-center">
                    {% for subcategory in subcategories %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mt-4">
                            <article class="card h-100">
                                <div class="card-body p-0">
                                    <h2 class="card-title text-center my-2">{{ subcategory.name|capitalize }}</h2>
                                    <img src="{{ asset('assets/uploads/') ~ subcategory.image }}" style="width:100%;">
                                    <div class="d-flex justify-content-center m-2">
                                        <a href="{{ path('categories_list', {"slug": subcategory.slug }) }}" class="btn btn-pink">Voir les détails</a>
                                    </div>
                                </div>
                            </article>
                        </div> 
                    {% endfor %}
                </div> 

            {% endif %}
   
        </section>
    </main>
{% endblock %}